---
import { Island } from '../components/Island';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>tweaks e2e fixture</title>
  </head>
  <body>
    <h1>tweaks e2e fixture</h1>
    <Island client:load />
  </body>
</html>
